* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-navbar {
  background-color: #acb087;
}
.logo {
  width: 50px;
}
.navbar-brand,
.nav-link,
.dropdown-item {
  font-family: "Montserrat", sans-serif;
  color: #95714f;
}
.active {
  font-weight: bold;
  border-bottom: 2px solid #a47764ff;
}
.navbar-nav a:hover {
  border-bottom: 2px solid #a47764ff;
}
body {
  background-color: #fbf5d1;
}
/* footer  */
.footer {
  background-color: #fbf5d1;
  color: #333;
  padding: 40px 0 20px;
  font-family: "Montserrat", sans-serif;
}

.footer-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #4caf8f;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
  padding: 0;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-box ul li a:hover {
  color: #4caf8f;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 13px;
  color: #777;
}
